BETTER_AUTH_SECRET="57VAqKkqsGfxQgAwOrGMPKTj3HMbtRHH"
SERVER_URL="http://localhost:3000" #Base URL of your server app
VITE_CLIENT_URL="http://localhost:3000" #Base URL of your client app
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
DATABASE_URL=""